Click==7.0
ipython==7.10.1
ipython-genutils==0.2.0
pylint==2.4.4
pyOpenSSL==19.0.0
pyparsing==2.4.5
PySocks==1.7.1
pytest==5.3.1
requests==2.22.0
texttable==1.6.2
urllib3==1.24.2
virtualenv==16.7.5
wcwidth==0.1.7